<% include partials/header %>

<div class='container'>
    <div class='row'>
        <div class='panel panel-default'>
            <div class='panel-body'>
                <div class='col-sm-3'>
                    <div class="thumbnail">
                      <img class='img-responsive' src="img/w8ben.jpg" alt="form image">
                      <div class="caption">
                        <h3>W-8BEN</h3>
                            <p class='form-description'>
                                Certificate of Foreign Status of Beneficial Owner 
                                for United States Tax Withholding and Reporting (Individuals)
                            </p>
                        </h3>
                        <p><a href="\w8ben" class="btn btn-primary btn-lg" role="button">Fill Out</a></p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>