body{
    background:#c0e1f2;
}

.help-text{
    font-size:.75em;
}
.remove-hz-padding{
    padding:15px 0;
}
.panel-body{
    min-height: 400px;
}

#complete li, #certification li{
    padding:7px 0;
}
.thumbnail img{
    border:1px solid #e2e2e2;
}

.form-description{
    color:#9e9e9e;
}